@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&family=Maven+Pro&family=Noto+Sans:wght@200;300;400&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
#root{
	width: 100%;
}
.App {
	align-items: center;
	display: flex;
	flex-direction: column;
padding: 0 0.5rem;
}
body {
	align-items: center;
	/* background-image: linear-gradient(to bottom, #37ecba 0%, #72afd3 100%); */
	background: linear-gradient(90deg, rgba(55,236,186,1) 0%, rgba(114,175,211,1) 100%);
	display: flex;
	font-family: 'Maven Pro', sans-serif;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}
input {
	background-color: #fcfcfd;
	border: 2px solid #fcfcfd;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	color: #f5f5f5;
	padding: 0.5rem;
	text-align: center;
	outline: none;
}
h1 {
	font-family: 'Ubuntu', sans-serif;
}

/* CSS */
.button_30 {
	align-items: center;
	background-color: #fcfcfd;
	border-radius: 4px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	height: 48px;
	justify-content: center;
	line-height: 1;
	position: relative;
	text-align: left;
	transition: box-shadow 0.15s, transform 0.15s;
	touch-action: manipulation;
	appearance: none;
	border-width: 0;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	white-space: nowrap;
	will-change: box-shadow, transform;
}

.button_30:focus {
	box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
		#d6d6e7 0 -3px 0 inset;
}

.button_30:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	transform: translateY(-2px);
}

.button_30:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}