.bg--table {
	background-color: #22356f;
	color: white;
	width: 100%;
	max-width: 600px;
}
.bgcolor {
	background-color: #68e0e1 !important;
	border-color: #22356f;
	border-width: 0 3px 0 0;
	color: #22356f;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.bgcolor--resultado {
	background-color: #fff !important;
	color: #22356f;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.border-right {
	border: 2px solid #fff;
}

.css-button {
	color: #22356f;
	border-color: #22356f;
	font-weight: bold;
	width: 8rem;
}
.css-button:hover {
	background: #22356f;
	color: #fff;
}
.victory {
	color: #22356f;
	font-weight: bold;
	margin: 2rem;
}
.text__message {
	display: block;
	font-weight: bold;
	margin-top: 1rem;
	text-transform: uppercase;
}
